{% extends 'base.html' %}

{% block title %}{{ issue.title }}{% endblock title %}

{% block content %}
{% for issue in issue_list %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ issue.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ issue.summary }}</h6>
        <p class="card-text">{{ issue.description|truncatechars:500 }}</p>
        <a href="{% url 'detail' issue.id %}" class="card-link">Read More</a>
    </div>
</div>
{% endfor %}
{% endblock content %}